@keyframes fall {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100vh);
      opacity: 0;
    }
  }
  
  .heart {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    font-size: 30px;
  }

  .heart_fall{
    animation: fall 2s ease-in-out infinite;
  }
  