.login_navbar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9;
    background-color: white;
    opacity: 0.95;
    .login_navbar_logo_container{
        width: 200px;
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .logo_img{
            width: 60px;
            height: 60px;
        }

        .login_nav_bar_title{
            width: 120px;
            font-size: 18px;
            font-weight: 600;
            color: black;
        }
    }

    .login_navbar_buttons_container{
        width: 250px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .login_button{
            width: 110px;
            height: 50px;
            opacity: 1;
            font-weight: 600;
            border-radius: 60px;
        }
    }
}

.register_button{
    display: block;
    margin: 20px 0;
    min-height: 50px;
    padding: 13px 24px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    background-position: top center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transition-property: background, color;
  }
  
  .button1 {
    position: relative;
    display: block;
    color: var(--textColor1);
    border-radius: 26px;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-color: #fff;
    background-clip: padding-box;
    overflow: hidden;
    z-index: 1;
    
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border: 2px solid transparent;
      background-image: linear-gradient(#fff, #fff), linear-gradient(90deg, #3B82F6, #8B5CF6);
      background-clip: padding-box, border-box;
    background-repeat: repeat-x;
    background-size: calc(100% + 2px * 2) calc(100% + 2px * 2);
    background-position: center;
      border-radius: 26px;
      z-index: -1;
      transition: border-color 0.2s;
    }
    
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70vmax;
      height: 70vmax;
      border-radius: 50%;
      background-image: linear-gradient(90deg, #3B82F6, #8B5CF6);
      transform-origin: center;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.4s ease-in-out;
      z-index: -1;
    }
    
    &:hover {
      color: #8B5CF6;
    }
  }

  .button2 {
    position: relative;
    border-radius: 26px;
    background-image: linear-gradient(90deg, #3B82F6, #6942ef, #8B5CF6, #008cff, #0065ff, #6942ef);
    background-size: 400%;
    background-position: 0% 0%;
    
    &::before {
      content: '';
      position: absolute;
      left: -2px;
      top: -2px;
      right: -2px;
      bottom: -2px;
      border-radius: 26px;
      background-image: linear-gradient(90deg, #0065ff, #6942ef, #6554c0, #008cff, #0065ff, #6942ef);
      background-size: 500%;
      background-position: 0% 0%;
      filter: blur(10px);
      opacity: 0;
      z-index: -1;
      transition: opacity 0.2s;
    }
    
    &:hover {
      animation: gradientRotate 2s infinite;
      &::before {
        opacity: 1;
        animation: gradientRotate 2s infinite;
      }
    }
    
    &:active {
      color: #c3c4d5;
    }
    
    &:focus {
      &::before {
        opacity: 1;
      }
    }
  }

  @keyframes gradientRotate {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
